.ExamplePage {
    text-align: center;
    align-items: center;
    align-content: center;
}

.ExamplePage-body {
    background-color:  #d6ebf3;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black; 
  }

.Feature {
    color: red;
    font-size: calc(10px + 4vmin); 
}

.ExamplePage-instructions {
    font-size: calc(10px + 1vmin) ;
    width: 60%;
    padding: 10px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}

.contents {
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}
