.SendPage-body {
    background-color:  #d6ebf3;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black; 
}

.navbar {
    margin:30px;
}
.ExamplePage-instructions {
    font-size: calc(10px + 1vmin) ;
    width: 70%;
    padding: auto;
    align-content: center;
    text-align: left;
}

.SendPage {
    text-align: center;
    align-items: center;
}